/node_modules/

.idea

# Gradle
/build/

# Android
.gradle
local.properties
*.iml
/android/

npm-debug.*
yarn-error.log

# ignore config.js, which contains application secrets atm
/config.js

# Graphqool project files
/project.graphcool